img {
    width: 100%;
}
h1 {
    color: crimson;
    font-family: SimSun, KaiTi;
}
h3 {
    color: dodgerblue;
    font-family: STFangsong, STSong;
}
h4 {
    color: limegreen;
    font-family: SimHei, STHeiti;
}