img {
    width: 100%;
}
h1 {
    color: crimson;
    font-family: SimSun, KaiTi;
    font-size: 32px;
}
h3 {
    color: dodgerblue;
    font-family: STFangsong, STSong;
    font-size: 24px;
}
h4 {
    color: limegreen;
    font-family: SimHei, STHeiti;
    font-size: 16px;
}
p {
    font-size: 16px;
}
#test {
    display: none;
}
#buttonSA {
    display: none;
}
#wantAnswer {
    display: none;
}
#answer {
    display: none;
}